<div class="article">
  <% @articles.each do |article| %>
    <h1><%= link_to article.title, article_path(article) %></a></h1><br />
    <%= article.text %><br />
     
    <% if current_user %>
      <%= link_to 'Edit', edit_article_path(article) %>
      | <%= link_to 'Destroy', article_path(article),
                    method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
</div>

<hr>