* {
	padding:0;
	margin:0;
}
html, body {
	height:100%;
}

blockquote.quote {
	color: #fff;
	font-size: 1.5em;
}

cite.quote {
	color: #464368;
	font-size: 1em;
}

div.logo {
	background-image: image-url("trifid.jpg");
}

/* SIDENAV */
.sidenav {
	background-color: #F2F2F2;
	border-radius: 5px;
	margin: 0 15px;
}

/* SKROLLR PARALLAX */
.skrollr-desktop body {
	height:100% !important;
}
body {
	font-family: 'Roboto', sans-serif;
}
p {
	margin:1em 0;
}
.parallax-image-wrapper {
	position:fixed;
	left:0;
	width:100%;
	overflow:hidden;
}
.parallax-image-wrapper-50 {
	height:50%;
	top:-50%;
}
.parallax-image-wrapper-100 {
	height:100%;
	top:-100%;
}
.parallax-image {
	display:none;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
.parallax-image-50 {
	height:200%;
	top:-50%;
}
.parallax-image-100 {
	height:100%;
	top:0;
}
.parallax-image.skrollable-between {
	display:block;
}
.no-skrollr .parallax-image-wrapper {
	display:none !important;
}
#skrollr-body {
	height:100%;
	overflow:visible;
	position:relative;
}
.gap {
	background:transparent center no-repeat;
	background-size:cover;
}
.skrollr .gap {
	background:transparent !important;
}
.gap-50 {
	height:50%;
}
.gap-100 {
	height:100%;
}
.content {
	background: transparent;
	padding-top:50px;
	padding-bottom:50px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.content-full {
	height:100%;
}
div.header {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	color: #fff;
	height: 500px;
	line-height: 500px;
}
span.header {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}
div.header.show-for-small-only {
	font-size: 4em;
}
div.header.show-for-medium-only {
	font-size: 8em;
}
div.header.show-for-large-only {
	font-size: 13em;
}
.article {
	border-right: inset;
	border-color: #F2F2F2;
	font-family: 'Roboto', sans-serif;
}
.article h1 {
	color: #FF3C1F;
	font-family: 'Roboto', sans-serif;
}
.article h1 > a {
	color: #FF3C1F;
	/*color: #000;*/
	font-family: 'Roboto', sans-serif;
}
.article h1 > a:hover {
	color: #000;
	/*color: #FF3C1F;*/
	font-family: 'Roboto', sans-serif;
}
.article h3 {
	font-family: 'Roboto', sans-serif;
}
.comment .time_ago {
	color: #FF3C1F;
}
.article .timestamp {
	color: #AAAAAA;
}
#continue {
	color: #000;
}
#continue:hover {
	color: #FF3C1F;
}

/* FOOTER */
#footer {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	height: 50%;
	/*color: #66D9EB;*/
	/*background-color: #272822;*/
	color: #fff;
	background-color: #5F5D85;
	padding-top: 15px;
}

#footer a {
	color: inherit;
}
#footer a:hover {
	color: #464368;
}