			</div>
			<!-- Sidenav -->
			<div class="medium-3 columns">
				<div data-magellan-expedition="fixed" class="sidenav">
					<ul class="side-nav">
						<li><a href="#">Link 1</a></li>
						<li><a href="#">Link 2</a></li>
						<li><a href="#">Link 3</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div id="footer" class="footer">
			<div class="row">
				<div class="small-12 columns">
					<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consectetur id purus eu commodo. Ut dapibus tincidunt accumsan. Praesent malesuada tortor id sapien bibendum, sed pharetra neque adipiscing. Proin molestie, neque sed condimentum luctus, nisi nisi convallis sem, nec dictum mi lectus ac urna. Duis rhoncus rhoncus tortor vel sagittis. Donec mollis odio consectetur erat ornare, quis gravida elit malesuada. Integer sollicitudin dolor sed justo convallis semper. Sed at aliquam tellus. Morbi eu aliquet dolor, a bibendum est. Etiam dictum nisi in accumsan interdum.
					</p>
				</div>
			</div>
		</div>

	</div>

	

    <%= javascript_include_tag "application" %>
    <script type="text/javascript">
    	var s = skrollr.init()
    </script>
  </body>
</html>