		</div>
		<!-- Sidenav -->
		<div class="medium-3 columns">
			<div data-magellan-expedition="fixed" class="sidenav">
				<ul class="side-nav">
					<li><a href="#">Link 1</a></li>
					<li><a href="#">Link 2</a></li>
					<li><a href="#">Link 3</a></li>
				</ul>
			</div>
		</div>

	</div>

    <%= javascript_include_tag "application" %>
    <script type="text/javascript">
    	var s = skrollr.init()
    </script>
  </body>
</html>