<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title><%= content_for?(:title) ? yield(:title) : "hyperbit" %></title>

		<link href='http://fonts.googleapis.com/css?family=Raleway:400,200|Roboto' rel='stylesheet' type='text/css'>
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<script src="//cdn.ckeditor.com/4.4.3/standard/ckeditor.js"></script>
		<%= stylesheet_link_tag    "application" %>
		<%= javascript_include_tag "vendor/modernizr" %>
		<%= csrf_meta_tags %>
		</head>

	<body>

		<div class="row">
			<span class="header"><h1>H Y P E R B I T</h1></span>
			<h3 class="subheader">Justin Cano's Blog</h2>
			<hr />
		</div>

		<!-- Main Content -->
		<div class="row">
			<div class="small-12 medium-9 columns content">

